.main-wrap {
  display: flex;
  flex-direction: column;
  max-width: 977px;
  height: 1000px;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

.hint {
  color: #26272a;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #26272a;
  border-radius: 8px;
  color: #f7f5f8;
  box-sizing: border-box;
  transition: all 250ms ease-out;
}
.key:hover {
  text-shadow: 0 0 10px white, 0 0 30px white, 0 0 80px white;
  color: #fff;
}

.key_service {
  font-size: 10px;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 10px;
  letter-spacing: 0.6px;
}

.key_service-right {
  justify-content: flex-end;
}

.key_delete {
  width: 103px;
}

.key_tab {
  width: 103px;
}

.key_caps-lock {
  width: 115px;
}

.key_return {
  width: 117px;
}

.key_shift {
  width: 150px;
}

.key_cmd {
  width: 86px;
  justify-content: center;
}

.key_service-center {
  justify-content: center;
}

.key_space {
  width: 320px;
}

.key_arrow {
  height: 30px;
  align-self: flex-end;
  font-size: 10px;
}

.key_arrow-up {
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
}

.key_arrow-down {
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
}

.pressed {
  background-color: #3d3e43;
  transform: scale(0.95);
}

.uppercase {
  text-transform: uppercase;
}

.keyboard {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 200;
}

.keyboard__layout {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  max-width: 947px;
  background-color: #e4ddd3;
  border-radius: 16px;
  padding: 15px;
}

.keyboard__row {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  row-gap: 5px;
}

.text-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 400px;
  border-radius: 16px;
  border: #e4ddd3 solid 8px;
  background-color: #1a1a1b;
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 20px 15px 20px;
  color: #f7f5f8;
  box-sizing: border-box;
}

.text-area__input {
  width: 100%;
  height: 100%;
  background-color: #26272a;
  border: none;
  color: #f7f5f8;
  box-sizing: border-box;
  padding: 8px;
  resize: none;
  font-family: "San Francisco", Helvetica, Arial, sans-serif;
  letter-spacing: 0.8px;
  font-size: 24px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.text-area__input:focus-visible {
  outline: none;
}

.text-area__subtitle {
  font-weight: 200;
  margin: 0;
}