.main-wrap {
  display: flex;
  flex-direction: column;
  max-width: 977px;
  height: 1000px;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

.hint {
  color: $color-key;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}